@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("https://other-qiniu.jellow.site/FiZ2sMcpuc_IPwjgWBFEw6MK2_-7.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
